* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body{
    height: 100%;
}

body {
    overflow-y: hidden;
}

/*Barra de navegação superior*/
#supbar{
    width: calc(100% - 250px);
    background-color: rgb(16, 16, 16);
    color: rgb(167, 167, 167);
    float: right;
}

#supbar .supbar-container {
    width: 100%;
    text-align: right;
    padding: 8px 20px;
}

#supbar .supbar-container ul {
    list-style: none;
    display: inline-flex;
    font-weight: bold;
    font-size: 15px;
    letter-spacing:2px;
}

#supbar .supbar-container ul li {
    padding:10px 20px;
}

#supbar .supbar-container ul li:hover{
    color: white;
}

#supbar .supbar-container ul li:nth-child(3) {
    border-right: 0.1px solid white;
}

.btn-primary {
    background: white;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    letter-spacing:1px;
    font-weight: bold;
}

/*Barra de navegação*/
.sidebar {
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
}

.sidebar-container {
    padding-bottom: 200px;
}

.sidebar_menu {
    margin: 20px 2px;
    color: rgb(190, 190, 190);
}

.sidebar_menu a:hover{
    color: white;
}

.sidebar_logo img{
    margin-top: 15px;
    margin-left: 15px;
    max-width: 125px;
    width: 100%;
}

.sidebar_menu a{
    color: rgb(190, 190, 190);
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 0;
    font-size: 14px;
}

/*Ícones*/
.sidebar_menu svg {
    margin: 0px 15px;
    font-size: 22px;
}

.sidebar_menu a.sidebar_menu_selected {
    color: white;
}

.sidebar_menu_item {
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
    vertical-align: middle;

}

.sidebar_menu_item span:hover{
    color: white;
}

/* + */
.sidebar_menu_item_plus {
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
    color: black;
    background-color: white;
}

/* <3 */
.sidebar_menu_item img{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    display: inline-block;
}

.sidebar_menu_item span{
    letter-spacing:1px;
    font-weight: bold;
    font-size: 14px;
    padding: 15px;
}

.sidebar_menu_inf {
    color: rgb(190, 190, 190);
    font-size: 11.5px;
    position: absolute;
    padding: 10px 15px;
    bottom: 20px;
    line-height: 25px;
}

.sidebar_menu_inf p:hover{
    text-decoration: underline;
}

/*Principal*/
.main {
    width: calc(100% - 250px);
    background: linear-gradient(to top, #121212, rgb(31, 31, 31));
    height: 100%;
    float: left;
    padding: 2px 30px;
    overflow-y: auto;
}

.main_row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-container {
    padding-bottom: 100px;
}

/*Titulo*/
.main_row_title {
    width: 100%;
    color: white;
    font-style: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

/*Titulo da fileira*/
.main_row_title h2{
    color: white;
    margin: 2px;
}

.sidebar_menu_inf p:hover{
    text-decoration: underline;
}

/*Titulo dos componentes*/
.main_col h3{
    color: white;
    margin: 10px 2px ;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-style: bold;
    letter-spacing: 2px;
    font-size: 14px;
}

/*Titulo*/
.main_col p {
    font-size: 15px;
    font-style: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: rgb(183, 181, 181);
    text-align: left;
}


.main_col img{
    max-width: 150px;
    border-radius: 5px;
    width: 100%;
}

.main_col {
    cursor: pointer;
    width: 20%;
    margin-right: 1.6%;
    margin-top: 20px;
    background-color: rgb(35, 35, 35);
    border-radius: 5px;
    padding: 15px;
    text-align: left;
}

/* Footer*/
#footer {
    color: #919496;
    padding-bottom: 200px;
}

#footer .footer-content {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
}

#footer .footer-content .footer-menu {
    margin: 0px 10px;
    list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
    margin: 10px 0px;
    transition: all 300ms ease;
}

#footer .footer-content .footer-menu p {
    font-weight: bold;
    color: white;
    font-size: 15px;
}

#footer .footer-content .footer-menu li:hover {
    text-decoration: underline;
    color: white;
}

/* Footer Socials */
.socials a {
    margin: 0 20px;
    font-size: 22px;
    color: white;
    transition: all 300ms ease;
}

/* Footer Info*/
.footer-info {
    border-top: 0.5px solid rgb(44, 44, 44);
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: auto;
    font-weight: bold;
    color: #919496;
    font-size: 14px;
    padding-top: 40px;
}

.footer-info .footer-info-items {
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
    margin: 0 10px;
}

#footer .footer-info .footer-info-items li:hover {
    text-decoration: underline;
    color: white;
}

/*Player*/
.player {
    width: 100%;
    padding: 15px;
    height: 90px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    background-color:#1a1a1a;
}

.player_artist {
    width: 25%;
}

.player_artist img{
    max-width: 55px;
    display: inline-block;
    vertical-align: middle;
}

.player_artist h3 {
    display: inline-block;
    color: white;
    font-size: 12px;
   letter-spacing: 0.5px;
    font-weight: bold;
    vertical-align: middle;
    padding: 10px;
}

.player_artist h3 > span {
    color: rgb(200, 200, 200);
    font-weight: normal;
    font-size: 10px;
}

/*Barra de controle do player*/
.player_control {
    width: 50%;
    text-align: center;
}

.player_control_buttons a {
    color: rgb(130, 130, 130);
    margin: 15px 12px;
    font-size: 20px;
}

.player_control_buttons a.on {
    color: white;
    font-size: 30px;
}

.player_control_buttons a:hover {
    color: white;
}

.player_control a.player_selected {
    color: #1db954;
}

/*Barra de progresso*/
.progress-container {
    width: 100%;
    max-width: 585px;
    height: 3.5px;
    margin-top: 2px;
    position: relative;
    border-radius: 8px;
    display: inline-block;
    background: rgb(80, 80, 80);
}

.progress {
    width: 0%;
    position: relative;
    border-radius: 8px;
    background:white;
    height:3.5px;
}

ghts {
    display: flex;
}

@media screen and (max-width: 1920px) {
    .main_col {
        width: 15%;
    }
}